/*---| Variablen |---*/
/*---| Global |---*/
body {
  color: #666666;
  font: 14px/1.4 Lato, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
/*---| Utilities |---*/
.clear:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
button {
  background: #d9d2d0;
  border: none;
  display: inline-block;
  font-size: 1.4em;
  line-height: 2em;
  height: 2em;
  margin: 0;
  padding: 0 1em 0 0;
}
button .button--hell {
  background: #ececec;
}
button:before {
  background-size: 80%;
  content: '';
  display: inline-block;
  height: 2em;
  margin-right: 1em;
  vertical-align: top;
  width: 2em;
}
button.button--download:before {
  background: #666666 url('../img/scroll-down_gray.svg') center no-repeat;
}
button.button--link:before {
  background: #666666 url('../img/icon-link.svg') center no-repeat;
}
/*---| Header |---*/
.farbband {
  float: left;
  height: 25px;
  width: 10%;
}
.dunkelrot {
  background-color: #8b2738;
}
.rot {
  background-color: #dd0420;
}
.magenta {
  background-color: #c7007f;
}
.hellviolett {
  background-color: #996699;
}
.violett {
  background-color: #5b2282;
}
.blau {
  background-color: #006eb7;
}
.hellblau {
  background-color: #10bae7;
}
.dunkelgruen {
  background-color: #00847d;
}
.hellgruen {
  background-color: #76b828;
}
.gruen {
  background-color: #00a983;
}
.hellgrau {
  background-color: #ececec;
}
.grau {
  background-color: #9a9997;
}
.weiss {
  background-color: #ffffff;
}
.navbar {
  height: 60px;
}
.navbar img {
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
}
/*---| Slider |---*/
.title-screen {
  height: calc(100vh - 85px);
  padding: 0;
}
.title-screen .bx-viewport,
.title-screen .bx-wrapper {
  border: none;
  width: 100%;
  height: 100% !important;
  box-shadow: none;
}
.title-screen .slider-main {
  height: 100%;
  margin: 0;
}
.title-screen .slider-main li {
  height: 100% !important;
  width: 100vw !important;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url('http://placehold.it/1920x1080');
}
.title-screen + .divider {
  position: relative;
}
/*---| Main |---*/
section {
  padding: calc(150px) 0;
}
.divider {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  margin-bottom: -0.5px;
}
.divider.fg-dunkelrot polygon {
  fill: #8b2738;
}
.divider.fg-rot polygon {
  fill: #dd0420;
}
.divider.fg-magenta polygon {
  fill: #c7007f;
}
.divider.fg-hellviolett polygon {
  fill: #996699;
}
.divider.fg-violett polygon {
  fill: #5b2282;
}
.divider.fg-blau polygon {
  fill: #006eb7;
}
.divider.fg-hellblau polygon {
  fill: #10bae7;
}
.divider.fg-dunkelgruen polygon {
  fill: #00847d;
}
.divider.fg-hellgruen polygon {
  fill: #76b828;
}
.divider.fg-gruen polygon {
  fill: #00a983;
}
.divider.fg-hellgrau polygon {
  fill: #ececec;
}
.divider.fg-grau polygon {
  fill: #9a9997;
}
.divider.fg-weiss polygon {
  fill: #ffffff;
}
.divider-bottom {
  margin-top: 0;
  margin-bottom: -50px;
}
.section--icon-bar {
  text-align: center;
}
.section--icon-bar img {
  display: block;
  height: 70px;
  margin: 0 auto 20px auto;
  width: auto;
}
.section--hero-image {
  background: #9a9997 url('../img/hero.jpg') center no-repeat;
  background-size: cover;
  min-height: 350px;
}
.section--hero-text-image {
  background: #9a9997 url('../img/panorama.jpg') center no-repeat;
  background-size: cover;
  min-height: 550px;
}
/*---| Footer |---*/
footer {
  line-height: 3em;
}
footer a:not(:active):not(:hover) {
  color: #666666;
}
footer span,
footer nav,
footer li {
  display: inline-block;
}
footer nav {
  float: right;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li + li {
  margin-left: 1em;
}
