/*---| Variablen |---*/
/*---| Global |---*/
body {
  color: #666666;
  font: 14px/1.4 Lato, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
/*---| Utilities |---*/
.clear:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
/*---| Header |---*/
.farbband {
  float: left;
  height: 25px;
  width: 10%;
}
.dunkelrot {
  background-color: #8b2738;
}
.rot {
  background-color: #dd0420;
}
.magenta {
  background-color: #c7007f;
}
.hellviolett {
  background-color: #996699;
}
.violett {
  background-color: #5b2282;
}
.blau {
  background-color: #006eb7;
}
.hellblau {
  background-color: #10bae7;
}
.dunkelgruen {
  background-color: #00847d;
}
.hellgruen {
  background-color: #76b828;
}
.gruen {
  background-color: #00a983;
}
.navbar {
  height: 60px;
}
.navbar img {
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
}
/*---| Main |---*/
section {
  padding-bottom: 50px;
}
.divider {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: -50px;
}
.divider.fg-dunkelrot polygon {
  fill: #8b2738;
}
.divider.fg-rot polygon {
  fill: #dd0420;
}
.divider.fg-magenta polygon {
  fill: #c7007f;
}
.divider.fg-hellviolett polygon {
  fill: #996699;
}
.divider.fg-violett polygon {
  fill: #5b2282;
}
.divider.fg-blau polygon {
  fill: #006eb7;
}
.divider.fg-hellblau polygon {
  fill: #10bae7;
}
.divider.fg-dunkelgruen polygon {
  fill: #00847d;
}
.divider.fg-hellgruen polygon {
  fill: #76b828;
}
.divider.fg-gruen polygon {
  fill: #00a983;
}
/*---| Footer |---*/
