// out: ../css/style.css, compress: false, strictMath: true
// -*- less-css-compile-at-save: t; less-css-output-directory: "../css" -*-

/*---| Variablen |---*/
@fg:          #666666;
@dunkelrot:   #8b2738;
@rot:         #dd0420;
@magenta:     #c7007f;
@hellviolett: #996699;
@violett:     #5b2282;
@blau:        #006eb7;
@hellblau:    #10bae7;
@dunkelgruen: #00847d;
@hellgruen:   #76b828;
@gruen:       #00a983;
@grau:        #999797;

@divider_height: 50px;

/*---| Global |---*/
body {
  color: @fg;
  font: 14px/1.4 Lato, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/*---| Utilities |---*/
.clear:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

button {
  background: @grau;
  border: none;
  display: inline-block;
  font-size: 1.4em;
  line-height: 2em;
  height: 2em;
  margin: 0;
  padding: 0 1em 0 0;
  
  &:before {
    background: @fg url('../img/scroll-down_gray.svg') center no-repeat;
    background-size: 80%;
    content: '';
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    vertical-align: top;
    width: 2em;
  }
}

/*---| Header |---*/
.farbband {
  float: left;
  height: 25px;
  width: 10%;
}

.dunkelrot { background-color: @dunkelrot; }
.rot { background-color: @rot; }
.magenta { background-color: @magenta; }
.hellviolett { background-color: @hellviolett; }
.violett { background-color: @violett; }
.blau { background-color: @blau; }
.hellblau { background-color: @hellblau; }
.dunkelgruen { background-color: @dunkelgruen; }
.hellgruen { background-color: @hellgruen; }
.gruen { background-color: @gruen; }

.navbar {
  height: 60px;

  & img {
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
  }
}

/*---| Slider |---*/

.slider-main {
    height: 100vh - 85px;
}

/*---| Main |---*/

section {
  padding-bottom: @divider_height;
}

.divider {
  display: block;
  width: 100%;
  height: @divider_height;
  margin-top: -@divider_height;
  margin-bottom: -.5px;

  &.fg-dunkelrot polygon   { fill: @dunkelrot; }
  &.fg-rot polygon         { fill: @rot; }
  &.fg-magenta polygon     { fill: @magenta; }
  &.fg-hellviolett polygon { fill: @hellviolett; }
  &.fg-violett polygon     { fill: @violett; }
  &.fg-blau polygon        { fill: @blau; }
  &.fg-hellblau polygon    { fill: @hellblau; }
  &.fg-dunkelgruen polygon { fill: @dunkelgruen; }
  &.fg-hellgruen polygon   { fill: @hellgruen; }
  &.fg-gruen polygon       { fill: @gruen; }
}

/*---| Footer |---*/
