// out: ../css/style.css, compress: false, strictMath: true
// -*- less-css-compile-at-save: t; less-css-output-directory: "../css" -*-

/*---| Variablen |---*/

@dunkelrot: #8b2738;
@rot: #dd0420;
@magenta: #c7007f;
@hellviolett: #996699;
@violett: #5b2282;
@blau: #006eb7;
@hellblau: #10bae7;
@dunkelgruen: #00847d;
@hellgruen: #76b828;
@gruen: #00a983;
@grau: #9a9997;
@hellesgrau: #d9d2d0;
@hellgrau: #ececec;
@weiss: #ffffff;
@weiss_transparent: rgba(255, 255, 255, .8);
@fg: #666;
@fg_dunkel: #444;
@divider_height: 50px;

/*---| Global |---*/

body {
    color: @fg;
    font: 18px/1.4 Lato, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.sepia {
    filter: url(../img/sepia.svg#sepia);
    /* Firefox 3.5+ */
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}


/*---| Utilities |---*/

.clear::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

a.button,
button {
    background: @hellgrau;
    border: none;
    color: @fg;
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    height: 2em;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.5s ease;
    padding: 0 1em 0 0;

    &::before {
        background-size: 80%;
        content: '';
        display: inline-block;
        height: 2em;
        margin-right: 1em;
        vertical-align: top;
        width: 2em;
    }

    &:hover,
    &:active,
    &:focus {
      background: @hellesgrau;
    }

    &.button--no-icon {
        padding: 0 1em;
        &::before {
            display: none;
        }
    }

    &.button--download::before {
        background: @fg url('../img/icon-download.svg') center no-repeat;
        background-size: 35px 35px;
    }

    &.button--link::before {
        background: @fg url('../img/icon-arrow-bottom.svg') center no-repeat;
        background-size: 35px 35px;
        transform: rotate(-90deg);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @fg_dunkel;
    font-family: "PT Serif", Georgia, serif;
    font-weight: normal;
}

h1,
h2 {
    color: @weiss;
    display: inline-block;
    margin-top: 15px;
    padding: 15px 20px;
    position: relative;
}

h1 {
    top: 5%;
}

h2 {
    top: 5%;
}


/*---| Header |---*/

.farbband {
    float: left;
    height: 25px;
    width: 10%;
}

.dunkelrot {
    background-color: @dunkelrot;
}

.rot {
    background-color: @rot;
}

.magenta {
    background-color: @magenta;
}

.hellviolett {
    background-color: @hellviolett;
}

.violett {
    background-color: @violett;
}

.blau {
    background-color: @blau;
}

.hellblau {
    background-color: @hellblau;
}

.dunkelgruen {
    background-color: @dunkelgruen;
}

.hellgruen {
    background-color: @hellgruen;
}

.gruen {
    background-color: @gruen;
}

.hellgrau {
    background-color: @hellgrau;
}

.grau {
    background-color: @grau;
}

.weiss {
    background-color: @weiss;
}

.color--weiss {
    color: @weiss;
}

.navbar {
    height: 90px;
    float: left;
    & img {
        height: 40px;
        margin-right: 10px;
        margin-top: 25px;
    }
    ;
}


/*---| Slider |---*/

.bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
}

.title-screen {
    height: calc(~"100vh - 60px");
    padding: 0;
    .bx-viewport,
    .bx-wrapper {
        width: 100%;
        height: 100% !important;
        left: 0;
    }
    .slider-main {
        height: 100%;
        margin: 0;
        a.button {
            position: relative;
            top: 5%;
        }
        li {
            height: 100% !important;
            width: 100vw !important;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            text-align: center;
            &#slide01 {
                background-image: url('../img/titel-1.jpg');
            }
            &#slide02 {
                background-image: url('../img/titel-2.jpg');
            }
            &#slide03 {
                background-image: url('../img/titel-3.jpg');
            }
        }
    }
    & + .divider {
        position: relative;
    }
    .bx-controls {
        position: relative;
        top: -50vh;
        a {
            background: url('../img/icon-arrow-bottom.svg') center no-repeat;
        }
        .bx-prev {
          margin-left: 0;
          transform: rotate(90deg);
          transition: margin-left 0.2s ease;

          &:hover {
            background-position: 0;
            margin-left: 5px;
          }
        }
        .bx-next {
          margin-right: 0;
          transform: rotate(-90deg);
          transition: margin-right 0.2s ease;

          &:hover {
            background-position: 0;
            margin-right: 5px;
          }
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 80px;
        left: 50%;
        animation: fullwidth-header-bounce 2.2s ease-out infinite;
        img {
            width: 55px;
        }
    }
}


/*---| Main |---*/

section {
    padding: calc(@divider_height * 3) 0;
}

.divider {
    display: block;
    width: 100%;
    height: @divider_height;
    margin-top: -@divider_height;
    margin-bottom: -.5px;
    &.fg-dunkelrot polygon {
        fill: @dunkelrot;
    }
    &.fg-rot polygon {
        fill: @rot;
    }
    &.fg-magenta polygon {
        fill: @magenta;
    }
    &.fg-hellviolett polygon {
        fill: @hellviolett;
    }
    &.fg-violett polygon {
        fill: @violett;
    }
    &.fg-blau polygon {
        fill: @blau;
    }
    &.fg-hellblau polygon {
        fill: @hellblau;
    }
    &.fg-dunkelgruen polygon {
        fill: @dunkelgruen;
    }
    &.fg-hellgruen polygon {
        fill: @hellgruen;
    }
    &.fg-gruen polygon {
        fill: @gruen;
    }
    &.fg-hellgrau polygon {
        fill: @hellgrau;
    }
    &.fg-grau polygon {
        fill: @grau;
    }
    &.fg-weiss polygon {
        fill: @weiss;
    }
}

.divider-bottom {
    margin-top: 0;
    margin-bottom: -@divider_height;
}

.section--icon-bar {
    text-align: center;
    img {
        display: block;
        height: 70px;
        margin: 40px auto 20px auto;
        width: auto;
    }
}

.section--einladung {
  img {
      height: auto;
      position: relative;
      top: -100px;
      width: 100%;
  }
}

.section--hero-image {
    background: @grau url('../img/hero.jpg') center no-repeat;
    background-size: cover;
    min-height: 350px;
}

.section--quote {
    padding-bottom: 0;
    p {
        background: @weiss url('../img/icon-quotes.svg') left top no-repeat;
        background-size: 50px;
        padding-left: 70px;
        padding-top: 20px;
        span {
            display: block;
            margin-top: 15px;
            text-align: right;
            &::before,
            &::after {
                content: " ~ ";
            }
        }
    }
    img {
        height: auto;
        position: relative;
        top: -100px;
        width: 100%;
    }
}

.section--text-line {
    padding: 0 !important;
    p {
        font-family: "PT Serif", Georgia, serif;
        font-size: 40px;
        font-weight: normal;
        text-align: center;
        padding-top: 50px;
    }
}

.section--text-video {
  .vjs-big-play-button {
    background-color: @rot;
    border: none;
    border-radius: .4em;
    height: 1.9em;
    left: 35%;
    line-height: 1.9em;
    top: 30%;
  }

  .vjs-slider {
    color: @dunkelrot;

    &:hover {
      font-size: 25px;
    }
  }

  .vjs-control-bar {
    background-color: @weiss_transparent;
    color: @fg;
  }
  .vjs-load-progress {
    background-color: @blau;
  }

  .vjs-volume-level,
  .vjs-play-progress {
    background-color: @rot;
  }
}

.section--bx-slider {
  .bx-controls {
      //position: relative;
      //top: -10vh;
    a {
      background: @grau url('../img/icon-arrow-right.svg') center no-repeat;
      background-size: 70%;
      border: 5px solid @weiss;
    }

      .bx-prev {
       background-image: url('../img/icon-arrow-bottom.svg');
       background-position: 5px;
       transform: rotate(90deg);
       margin-left: 0;
       transition: margin-left 0.2s ease;

       &:hover {
         margin-left: 5px;
       }
    }
    .bx-next {
      background-image: url('../img/icon-arrow-right.svg');
      background-position: 5px;
      margin-right: 0;
      transition: margin-right 0.2s ease;

      &:hover {
        margin-right: 5px;
      }
    }
  }
}

.section--hero-text-image {
    background: @grau url('../img/panorama.jpg') center no-repeat;
    background-size: cover;
    min-height: 550px;
    p {
        color: @weiss;
        font-family: "PT Serif", Georgia, serif;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        padding-top: 50px;
    }
}

.section--faecher {
  img {
      height: auto;
      position: relative;
      top: -60px;
      width: 100%;
  }

  ul {
    list-style-type: square;
  }
}

.section--bildmatrix {
    position: relative;
    padding: 0;
    z-index: -1;
    img {
        height: auto;
        width: 100%;
    }
}

.section--schullink {
  background-image: url('../img/schloss_menschen.jpg'), linear-gradient(to right, @weiss 0%, @grau 100%);
  background-color: @hellgrau;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;

  .logo {
    margin: 20px 0;
    max-width: 400px;
  }
}


/*---| Footer |---*/

footer {
    line-height: 3em;
    a:not(: active):not(: hover) {
        color: @fg;
    }
    span,
    nav,
    li {
        display: inline-block;
    }
    nav {
        float: right;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li + li {
        margin-left: 1em;
    }
}

@media screen and (max-width: 974px) {
  .section--einladung {
    img {
      margin-bottom: 20px;
        top: 10px;
    }
  }

  .section--quote {
    img {
      margin-bottom: 20px;
      top: 10px;
    }
  }

  .section--text-video {
     .video-js {
       height: 30rem;
       margin-top: 20px;
       width: 100%;
     }

     .vjs-big-play-button {
         left: 40%;
         top: 40%;
     }
  }

  .section--faecher {
    img {
      margin-bottom: 20px;
      top: 10px;
    }
  }
}

@media screen and (max-width: 452px) {
    .akbk-logo {
        display: none;
    }

    .section--text-video {
       .video-js {
         height: 20rem;
       }

       .vjs-big-play-button {
           left: 30%;
           top: 33%;
       }
    }
}

@keyframes fullwidth-header-bounce {
    0% {
        transform: translateY(0%);
    }
    12.5% {
        transform: translateY(20%);
    }
    25% {
        transform: translateY(0%);
    }
    37.5% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(0%);
    }
}
